[2017-02-01 13:07] rupalpatel0008 opened #1 "Plugin not available in ionic-native"
I have tried this plugin in my demo app. Its giving me following error on build.

<myprojectdir>/node_modules/ionic-native/dist/es5/index"' has no exported member 'NativeGeocoder', 'NativeGeocoderReverseResult', 'NativeGeocoderForwardResult'.

**ionic-native version: 2.2.11**

[2017-02-01 17:30] RafilAlArs commented on #1
+1 Same happened for me yesterday.

[2017-02-02 07:41] sebastianbaar commented on #1
Hey guys, thank you for pointing that out. I will have a look at it and let you know how to fix this!

[2017-02-02 09:21] sebastianbaar commented on #1
@rupalpatel0008 @RafilAlArs
Hey, I cannot repreduce your problem. I uploaded a [demo](https://github.com/sebastianbaar/cordova-plugin-nativegeocoder/tree/master/demo) project - you should check it out and give me some feedback
Cheers

Edit: You have have to use ionic-native >= v2.4.1.

[2017-02-04 10:55] #1 closed, assigned to nobody

[2017-03-23 04:49] susanlinsfu opened #3 "What is meant by Android (works only on native devices)"
May you please explain what Android (works only on native devices) mean? Specifically native devices?

[2017-03-30 07:20] sebastianbaar commented on #3
Hey @susanlinsfu it means that it's not working on emulators but on phones/tablets.

[2017-03-30 07:20] #3 closed, assigned to nobody

[2017-04-13 15:36] msio opened #4 "difference to geocoder of cordova-plugin-googlemaps"
Hi,
I'd like to know what is the main difference between this plugin and the geocoder of cordova-plugin-googlemaps [here](https://github.com/mapsplugin/cordova-plugin-googlemaps/wiki/Geocoder)
Thanks
Best Regards

[2017-04-16 16:11] sebastianbaar commented on #4
@msio777 It's a lightweight subset of the googlemaps plugin. You have the same functionality in the googlemaps plugin, **but if you only need geocoding** without all the extra google maps stuff and without API keys then this plugin is a lightweight alternative.

[2017-04-16 16:11] #4 closed, assigned to nobody

[2017-04-21 17:58] Hamza-Rahman commented on #4
in my project The District and House name is not work  please give some update
note: i have  also try the latest one but no luck... it show undefined.. please someone help
![screenshot_2017-04-21-23-55-28](https://cloud.githubusercontent.com/assets/12672574/25290129/61c9bfa8-26ee-11e7-90aa-f408c45db1a2.png)

[2017-04-21 18:02] Hamza-Rahman opened #5 "District and House Number show Undefined.."
I have face a new problem that District and House number is shown Undefined.. please someone help me
also i have tried new release on my project
thank you
![screenshot_2017-04-21-23-55-28](https://cloud.githubusercontent.com/assets/12672574/25290233/fc69402e-26ee-11e7-8359-c5759544cfde.png)

[2017-04-24 13:27] 5uper commented on #5
@Hamza-Rhaman
did you update to the latest ionic-native v.3.5.0 ?
https://github.com/driftyco/ionic-native/releases/tag/v3.5.0

[2017-04-26 17:35] sebastianbaar commented on #5
@Hamza-Rhaman Can you please share some more info:
- On which device are you running the app? (model, Android or iOS)
- Please share the exact latitude & longitude that you pass to the reverseGeocode()-function

[2017-04-29 07:18] Hamza-Rahman commented on #5
i am using android lollipop on samsung sm-p605 tab devise
and do you want to see the code? @sebastianbaar
i find the house number but not the district .

[2017-05-02 11:13] sebastianbaar commented on #5
Maybe the district just isn't defined for the lat&lon you are looking for? Please provide the latitude & longitude so I can have a look if it's a problem with the code or the district just isn't available...

[2017-05-15 02:31] damgero opened #6 "Wheres the State ?"

[2017-07-04 11:32] #5 closed, assigned to nobody

[2017-07-08 14:22] ihadeed opened #7 "Plugin needs to be updated to Swift 3"
XCode 8 can no longer compile apps that use an older version of Swift. The automatic converting feature of XCode seem to work fine, the build did not throw any errors afterwards. But I haven't tested the plugin yet.

[2017-07-13 09:13] vt-ombalakumar opened #8 "forward geocoding returns different lat long based on devices."
Hi , i was working in geocoding and getting lat long for an address or zipcode which is being entered by the user, when i was testing with 10004 zipcode, which is near newyork, we are getting different lat long for different devices example : samsung galaxy s7 returns lat : 40.705478 long :  -74.015044 where as in lenovo k4 note returns lat : 48.586179 long : 4.107207 . I don't know why it is retu

[2017-07-18 14:04] ThorvaldAagaard opened #9 "Error when finding position"
During my approval of an App for the AppStore I hit a bug, that puzzles me a lot.

The Apple headquarter is located at: Apple Infinite Loop, 1 Infinite Loop, Cupertino, Californien, USA

On Android I get the location 37.3316756, -122.030189 but on iPhone I get the error message: "Cannot get a location"

If I search for: "Apple, Infinite Loop, Cupertino, Californien, USA"  or "Apple, 1 Infinite Loo

[2017-07-25 18:40] sebastianbaar commented on #7
@ihadeed Thanks for pointing this out. I will soon have a look at it and port it to Swift 3.

[2017-07-25 18:41] sebastianbaar commented on #6
@damgero PRs are welcome ;-)

[2017-07-25 18:41] sebastianbaar commented on #6
I will have a look at it as soon as I update the code to Swift 3

[2017-07-26 08:22] sebastianbaar commented on #9
Hey @ThorvaldAagaard unfortunately I get the same Error. When debugging I get the Error Code 8 (https://developer.apple.com/documentation/corelocation/clerror.code/1423587-geocodefoundnoresult) which simply means that the "geocode request yielded no result". That's a problem with the CLGeocoder thus there is no solution only to try to somehow convert the search string to a valid (and searchable) f

[2017-07-26 08:22] #9 closed, assigned to nobody

[2017-07-26 08:33] #7 closed, assigned to nobody

[2017-07-26 08:34] #6 closed, assigned to nobody

[2017-07-26 09:45] sebastianbaar commented on #8
Hey @vt-ombalakumar I tried with different devices with the search term "10004 New York". I can only observe small deviations in the lat and long across multiple devices and OSs (Android and iOS). Unfortunately, I cannot reproduce your bug. Does this error occur multiple times on the same device? Do the Android versions differ?

[2017-07-26 10:11] vt-ombalakumar commented on #8
hi @sebastianbaar , thanks for the reply If you can, please try with only zipcode , (i.e) "10004"  with different android versions and check , thanks

[2017-07-26 14:33] ThorvaldAagaard commented on #9
I solved the actual problem by restricting the search to be addresses

[2017-07-26 14:38] sebastianbaar commented on #8
I only have one Android device at the moment. On iOS using only a zip code does not work (you get an error because of insufficient information). Thus, I cannot really test it, sorry. Maybe you can give it a try with other devices and let me know what you've found out. Cheers

[2017-08-27 06:08] ustincameron opened #10 "Hangs on build"
I've been building an Ionic/Cordova app with a lot of success but now that I've added this plugin everytime I run "Cordova run ios" it now takes 5 minutes instead of 15 seconds to build the app.

It seems to hang at the line "NativeGeocoder.o".

What is it doing that whole time? Feels like it's downloading something heavy... How do I resolve this as it's now becoming a massive time constraint whil

[2017-09-01 20:43] zettvs opened #11 "License is missing"
Could you please add a license file to this repo? Currently it's unclear what are the terms and conditions of using NativeGeocoder plugin code.

Many thanks in advance!

[2017-09-04 15:05] sebastianbaar commented on #11
Added MIT license

[2017-09-04 15:05] #11 closed, assigned to nobody

[2017-09-04 15:05] #8 closed, assigned to nobody

[2017-09-04 15:33] vt-ombalakumar commented on #8
hi, thanks..

[2017-09-14 10:16] jatinbphp opened #12 "Error: [$injector:unpr] Unknown provider: NativeGeocoderProvider"
Hello, i install this package, when i am going to use it, it gives me "Error: [$injector:unpr] Unknown provider: NativeGeocoderProvider " error.

Below is my code .
    function Search1Controller($log, header, DialogService, $auth, $localStorage, $state, $rootScope, $scope, API, mapbox, geo, $document, $interval, $timeout, broadcast, toast, $cordovaGeolocation, NativeGeocoder) {

and..
.reverseGeo

[2017-09-19 12:49] felixschroeder opened #13 "Plugin overwrites plist entry for NSLocationWhenInUseUsageDescription"
Since a hardcoded string is set in the plugin.xml file for NSLocationWhenInUseUsageDescription, the value that comes from other plugins that use variables instead is overwritten with the string "_Using geocoder service_" which cannot be changed.

The right way to implement this would be something like:

[code]

[2017-09-26 07:49] #13 closed, assigned to nobody

[2017-09-26 08:17] sebastianbaar commented on #12
It seems like you're using Ionic 1. Please note that this plugin is not available for ngCordova and you cannot import it like other ngCordova plugins. Use native JS instead.

[2017-09-26 08:17] #12 closed, assigned to nobody

[2017-09-26 09:31] sebastianbaar commented on #10
Hey socca1157, I cannot reproduce that error. Do you have some example code/repo that shows this error?

[2017-10-11 12:51] MichaelMassalas commented on #10
Hi Sebastian,

I have been experiencing the same issue, as well. I do not use Ionic. Whenever I try to compile for iOS device or emulator, it takes 5 minutes to complete. Here is where it hangs:
`CompileSwift normal arm64 /Users/user/Desktop/MobileProjects/fareway/platforms/ios/Fareway/Plugins/cordova-plugin-nativegeocoder/NativeGeocoder.swift
    cd /Users/user/Desktop/MobileProjects/fareway/plat

[2017-10-11 12:54] MichaelMassalas commented on #10
Hi Sebastian,

I have been experiencing the same issue, as well. I do not use Ionic. Whenever I try to compile for iOS device or emulator, it takes 5 minutes to complete. Here is where it hangs:

CompileSwift normal arm64 /Users/USER/Desktop/MobileProjects/PROJECTNAME/platforms/ios/PROJECTNAME/Plugins/cordova-plugin-nativegeocoder/NativeGeocoder.swift
cd /Users/USER/Desktop/MobileProjects/PROJECTN

[2017-10-12 19:35] steveacalabro commented on #10
+1 using Ionic@latest build takes around 5 mins as well and hangs on the same line

[2017-10-13 05:01] #10 closed, assigned to nobody

[2017-10-13 05:04] sebastianbaar commented on #10
Hey guys, it was a problem with the Swift compiler. Please update the plugin.
Cheers

[2017-10-16 11:45] nisos-siddharth opened #14 "Getting wrong lat long"
I am developing a hybrid mobile app in ionic2. I want to get lat-long base on the address.
Following is my code:

`this.nativeGeocoder.forwardGeocode('20 Greenway Rockville Centre NY 11570')
  .then((coordinates: NativeGeocoderForwardResult) => console.log('The coordinates are latitude=' + coordinates.latitude + ' and longitude=' + coordinates.longitude))
  .catch((error: any) => console.log(error

[2017-10-20 01:52] sebastianbaar commented on #14
Hi @nisos-siddharth,

lat: 40... and lon: -73... is correct, that's New York.
lat: 40... and lon: 73... is somewhere in Asia.

I don't get it. What exactly do you think is going wrong here?

Cheers

[2017-10-20 08:08] nisos-siddharth commented on #14
Sorry, it is not longitude=73.626354 it is longitude=-73.626354.
Means if I convert "20 Greenway Rockville Centre NY 11570" this address then expected lat-long is latitude = 40.660858 and longitude=-73.626354. But I get latitude = 40.661109 and longitude=-73.626429 which is wrong.

[2017-10-20 18:58] sebastianbaar commented on #14
Ok, but still... there is a variance of approx. 30 meters (http://bit.ly/2zG6BH0) for these lat/longs. I do not think that this is such a bad result...

And however this is not an issue with this plugin but with how Apple and Google process forward geocoding. I have no influence of how Apple is calculating the lat/long for a given address. That's why I don't think it's an issue with this plugin an

[2017-10-20 18:58] #14 closed, assigned to nobody

[2017-10-30 14:37] vitor-diniz opened #15 "Cordova geocoder stops working"
I started using cordova geocoder in my project. In my first attempts to use it, it wasn't working, falling into the catch exception. And in a day, out of nothing, it started to work, returning me the adress. And, now, a few days later, it stopped working again. Is there any problem with its service? Because I'm sure I haven't changed my code so it stop working.

[2017-11-08 06:50] thisisirfan opened #16 "Multiple places on single request"
Is there any way i can pass array of locations to get lat,lng in bulk?

[2017-11-15 15:05] sebastianbaar commented on #16
Hey @thisisirfan,

no there is no way as the native APIs only expect single values. Of course you could expose an API for passing multiple value and loop through the data in native code - but you can also just use a loop in javascript code and use the available methods.

Cheers

[2017-11-15 15:05] #16 closed, assigned to nobody

[2017-11-15 15:09] sebastianbaar commented on #15
Hey @vitor-diniz,

I'm sorry, I have no idea what causes this kind of behavior... We would have to debug the native code but unfortunately I cannot reproduce the error. Do you any example code that always behaves like this?

Cheers

[2017-11-25 00:17] deckikwok opened #17 "return multiple locations?"
Is it possible to return the list of locations instead of just one?
e.g. I reckon typing in something ambiguous like 'depot' would yield many possible results? since Android geocoder api states that they return a list.

thanks!

[2017-11-26 06:34] nodejscss opened #18 "reverseGeocode Error. Help me. Please"
When execute the following code, fall into failure function, and alert: "CLGecoder:reverseGeocodeLocation Error".

nativegeocoder.reverseGeocode(success, failure, 30.649908, 104.014556);
      function success(result) {
        alert("The address is: \n\n" + JSON.stringify(result));
      }
      function failure(err) {
        alert(JSON.stringify(err));
      }

How to fix the problem? Help me.

[2017-11-28 21:50] sebastianbaar commented on #18
Hey @nodejscss,
you should debug the plugin's code in Xcode and have a look what the error looks like. For example, see Apple's usage info for reverse geocoding:

(https://developer.apple.com/documentation/corelocation/clgeocoder/1423621-reversegeocodelocation)

Please let me know what kind of error you are getting. I will try to help you as soon as I know what's the problem.

Cheers!

[2017-11-28 21:56] sebastianbaar commented on #18
Here's the list of possible errors: https://developer.apple.com/documentation/corelocation/clerror.code
which of these do you get?

[2017-11-28 22:33] sebastianbaar commented on #17
Hey @deckikwok,
thanks for your request. You are right, both Android and iOS return a list of results. My intention for this plugin was to make it as easy as possible. Therefore I decided to just return the first (best) result for forward/reverse geocoding. But I see the advantage of returning multiple result sets... Mh, so what do you think. Should we alter the API and return a list of results by

[2017-11-28 22:35] sebastianbaar commented on #15
I did some research and it could be a restriction from Apple:

[2017-11-29 09:44] vitor-diniz commented on #15
Hey @sebastianbaar,
Thanks for the answer. It could be something like that, because I'm using both reverse and foward geocode in that part of the application. But I don't think I was able to reach the request limit. Anyway, it looks like that it is working better now. I will try to check and keep my eye on it.

[2017-11-29 12:19] sebastianbaar commented on #15
Ok nice. I will close this issue for now. Feel free to open it again if you run into the problem again.

Cheers

[2017-11-29 12:19] #15 closed, assigned to nobody

[2017-12-05 04:34] rlaurente opened #19 "Offline Support"
Is there a way on this plugin to work offline(without internet but enabled location) ?

[2017-12-05 09:05] sebastianbaar commented on #19
Hey @rlaurente ,

no this is not possible as both Android and iOS perform a server request to fetch these informations.

Cheers

[2017-12-05 09:05] #19 closed, assigned to nobody

[2017-12-26 07:38] CharanyaRamanujam opened #20 "Forward geocoder returns GRPC failed error"

[2017-12-26 07:38] #20 closed, assigned to nobody

[2017-12-26 07:41] Prithivraj200 opened #21 "grpc failed error"
I am getting grpc failed error while using **forward geocoder** most of the time.

     Kindly help to resolve this.

[2018-01-02 02:40] albe-rosado opened #22 "different places same coordenates"
![screenshot from 2018-01-01 21-35-33](https://user-images.githubusercontent.com/18025582/34473515-bc9019d4-ef41-11e7-9f19-9202bb8635df.png)
As the title suggests, I get the same coords for different locations, they are in the same city but far enough.

[2018-01-07 09:43] sebastianbaar commented on #21
hey @Prithivraj200, are you testing the plugin on a real device or on an emulator/genymotion?

[2018-01-07 09:45] sebastianbaar commented on #18
Closing this due to inactivity. Please file a new issue if you want to revisit.

[2018-01-07 09:45] #18 closed, assigned to nobody

[2018-01-07 09:58] sebastianbaar commented on #22
hey @albe-rosado, the plugin uses the native APIs from iOS (CoreLocation service) and Android (Geocoder). Therefore, this plugin does not have any influence of how the coordinates are calculated. Maybe you should try again with "better" address strings, like street name & house number instead of company names... I'm closing this issue due to the fact that this is not a problem with the plugin itse

[2018-01-07 09:58] #22 closed, assigned to nobody

[2018-01-11 08:29] Prithivraj200 commented on #21
Hi,
   I am testing on real device.

[2018-01-15 08:56] sebastianbaar commented on #21
Mh, ok... please give me some more infos about your tooling & setup:
- For which sdk version / api level are you compiling your app?
- What's your device's Android version?
- Which versions of build-tools, platform-tools and sdk tools are you using?
- Are you using Cordova or Ionic (Native)? Which versions?

[2018-01-15 11:06] axesve opened #23 "iOS build error"
Hey, I'am trying to build to iOS but Im getting these errors.

Using Swift 1.7.1.

[code]

Im guessing it has something to do with swift, however I do not know how to fix this so I might aswell just post it here...

[2018-01-18 13:04] Jagadeeshvadranapu commented on #3
Native Devices means physical devices

[2018-01-19 07:33] sebastianbaar commented on #23
Hey @axesve, what version of Xcode are you using? Should be 9.x with Swift 4.
Cheers

[2018-01-19 11:35] axesve commented on #23
@sebastianbaar Alrighty, I did not know xcode version had any effect on ionic build, most likely I have not updated xCode to 9.x... Thank you!

[2018-01-19 12:27] Prithivraj200 commented on #21
Hi

Please find the setup details below:

  android version of my device: 6.0.1
  I am using ionic-native plugin(2.0.2)

cli packages: (/usr/local/lib/node_modules)
    @ionic/cli-utils  : 1.19.0
    ionic (Ionic CLI) : 3.19.0

global packages:
    cordova (Cordova CLI) : 6.5.0

local packages:
    @ionic/app-scripts : 3.1.2
    Cordova Platforms  : android 6.0.0
    Ionic Framework    : ionic-ang

[2018-01-19 16:20] sebastianbaar commented on #23
Ok, try it out and let me know if it helps :-) I'm closing this issue but if you still have some problem just get in touch! Cheers & good luck

[2018-01-19 16:20] #23 closed, assigned to nobody

[2018-01-23 22:06] sebastianbaar commented on #21
That's a tough one... I'm not sure what causes the problem.. please check the following:
- Update your Android SDK tools and try again.
- There are some problems reported regarding Google Play Services - do you use these in your app? If yes: update & test
- Does this problem occur with different search strings? Or is it always the same?

[2018-01-24 13:20] t91710 opened #24 "Cordova 8 and add-swift-support"
Hello,
It is not possible to install the plugin if you use cordova 8 (on a Mac at least). This is because of the

`<dependency id="cordova-plugin-add-swift-support" version="1.7.0"/>`

in the file plugin.xml, row 45. The add-swift-support plugin has a bug in version 1.7.0 which is resolved in 1.7.1. Is it possible to change the dependency?

The changes can be checked here: https://github.com/akofm

[2018-01-24 20:08] #24 closed, assigned to nobody

[2018-01-24 20:11] sebastianbaar commented on #24
@t91710 thanks for pointing that out! Updated the dependency 'cordova-plugin-add-swift-support' to 1.7.1
Cheers

[2018-01-29 08:06] Prithivraj200 commented on #21
-  I have already updated my Android SDK tools and tried again. But still error persists.
      -    I am not using any google play services in my app.
      -    Sometimes it occur and sometimes it works perfect. (with different string).

[2018-01-29 08:47] sebastianbaar commented on #21
Please give me examples of both strings that work and that do not work. Do you have any example code to reproduce the error?

[2018-01-29 11:02] Prithivraj200 commented on #21
[https://github.com/Prithivraj200/Geocode](url)

I have uploaded my code here. Kindly check.

[2018-01-30 07:40] sebastianbaar commented on #21
Thank you. I send you a pull request where I added the plugin cordova-plugin-nativegeocoder & tried with some different locations. Everything works fine for me. Please check my pull request and try with your locations.

[2018-01-30 09:16] Prithivraj200 commented on #21
Ya it's working now. Thanks for your help.

[2018-01-30 09:22] sebastianbaar commented on #21
Perfect! :-)

[2018-01-30 12:23] Prithivraj200 commented on #21
If I use google play services ,then will I get this error?

[2018-01-30 15:13] sebastianbaar commented on #21
No, this shouldn't be a problem.

[2018-01-30 15:33] Prithivraj200 commented on #21
But like I said earlier, I am getting this error in a few occasions.

With same string, Chennai, few times I am getting coordinates and few times not.

[2018-02-02 12:45] wookiecookie87 opened #25 "Can I get the address value only in English?"
I have noticed that the address return value is in the language of phone setting.
Is there any way I can set the language option only in English no matter what the phone setting is?

[2018-02-06 13:40] #17 closed, assigned to nobody

[2018-02-06 13:46] sebastianbaar commented on #25
I released a new version (v3.0.0) of the plugin. You are now able to set the 'useLocale' option. Enjoy!

Cheers

[2018-02-06 13:46] #25 closed, assigned to nobody

[2018-02-21 15:11] khoshrou opened #26 "Let the user select locale"
Hi
I really loved this plugin. Thanks for great job.
It would be very helpful if you let the use select locale. I mean in addition to useLocale add an option parameter which is a string and accepts locales like "en-US" or "fa-IR", ...
Thanks

[2018-02-23 07:24] sebastianbaar commented on #26
Hi @khoshrou thank you very much! If I find the time I will have a look at it. I think it would be a useful extension.
Cheers

[2018-02-23 07:31] khoshrou commented on #26
Great

[2018-02-26 14:25] #26 closed, assigned to nobody

[2018-02-26 14:39] sebastianbaar commented on #26
Added 👍
Please test with the new release v3.1.0. As soon as you set the defaultLocale e.g. 'fa-IR' the results will be returned in that locale (only works for Android and iOS 11+)

I would love to get some feedback on that :-)

Cheers!

[2018-03-16 15:36] binDebug opened #27 "Ionic Native Geocoder “Cannot find a location.”"
While searching for coordinates, i.e. forwardGeocoding, the plugin is returning "Cannot find a location."

This is the method in my provider -
`//This calls the Native geocoder and returns the geocoordinates.
  getGeoCode(address: string): Promise<any> {
    console.log('The address key is - ' + address);
    return new Promise((resolve, reject) => {
      this.nativeGeocoder.forwardGeocode(addres

[2018-03-16 21:05] matishw opened #28 "how to know the accurate of the coordinates?"

[2018-03-16 21:11] #28 closed, assigned to nobody

[2018-03-18 08:25] sebastianbaar commented on #27
Hey @binDebug,
which version of cordova-plugin-nativegeocoder are you using? I have tested with the latest version v3.1.1 and it works both on Android and iOS (for "Times Square 42 Street Station, New York, NY, USA" I get lat: 40.755... lon: -73.987...).

Please update the plugin to the latest version and try again. If you still have this error please give more info about the OS, OS version, devic

[2018-03-19 09:00] binDebug commented on #27
Thank you Sebastian, firstly for this library, and second for the response.

The version seems to be just the one you mention. Please find below a snip of my package.json
![image](https://user-images.githubusercontent.com/17793833/37586319-ff825866-2b81-11e8-9894-60214ada4748.png)

[2018-03-19 09:41] sebastianbaar commented on #27
Ok, first please uninstall/reinstall the plugin and try again:
`ionic cordova plugin remove cordova-plugin-nativegeocoder`
`ionic cordova plugin add cordova-plugin-nativegeocoder`

If you still got an error please give more infos about your setting: is it on iOS **AND** Android?, on which device are you testing? (notice that the plugin won't work on Android emulator)

[2018-03-19 10:47] binDebug commented on #27
Ah! therein lies the catch, you mention emulator and that is where I am testing. Thanks for that. I shall test on another device and let you know.

Just curious, why wouldn't it work on an emulator? Also, why would it work with specific addresses while not working with others?

Cheers!

[2018-03-20 08:01] sebastianbaar commented on #27
I'm not quite sure why it does not work. It's somehow related to Google Play Services not working on an emulator but that's required for Geocoder to work. According to the [docs](https://developer.android.com/reference/android/location/Geocoder.html):

Please test on a real device and give some feedback so I know if I can close this issue.

Cheers!

[2018-03-26 07:29] #27 closed, assigned to nobody

[2018-04-12 11:43] piyushmanurkar commented on #7
Any update about this. I am using xCode Version 8.3.2...

[2018-06-21 07:30] nikhil0606 commented on #21
i am also getting same problem

[2018-06-21 07:33] nikhil0606 commented on #21
Actually i am developing an application based reverse geo coding and i  am  also getting same problem like grpc failed . can u help me.

[2018-06-27 10:08] Story5 opened #29 "Xcode9 dont support swift 2.x"

[2018-06-27 11:02] sebastianbaar commented on #29
Correct.

This plugin supports Swift 4.1. If you have any issue with your Swift version, please file an issue at the cordova-plugin-add-swift-support repo: https://github.com/akofman/cordova-plugin-add-swift-support

Cheers

[2018-06-27 11:02] #29 closed, assigned to nobody

[2018-06-27 14:08] Story5 commented on #29
@sebastianbaar  Thank your attention.
I fixed it by add the `<preference name="UseSwiftLanguageVersion" value="4" />` within the `<platform name="ios">`inside my project's `config.xml`

[2018-06-28 09:45] sebastianbaar commented on #29
Glad to hear :-)

[2018-07-01 14:34] MohamedBesher opened #30 "Cannot get an address."
Hello,
I tried to use plugin ionic 3

this.nativeGeocoder.reverseGeocode  ==== i got this error ("Cannot get an address.")
this.nativeGeocoder.forwardGeocode ==== i got this error Cannot find a location.

and that my page
[code]

thanks

[2018-07-01 17:00] ManigandanRaamanathan commented on #21
I'm facing the same problem. Can you please provide me the solution?

[2018-07-02 12:15] sebastianbaar commented on #30
Hey @MohamedBesher,
please change your code from
[code]

to

[code]

and try again. I tried your code and it's working - I get valid results.

Cheers

[2018-07-02 12:26] sebastianbaar commented on #21
Hey guys,
unfortunately, the grpc error is very common using the Geocoder service on Android.

See SO and Google issue tracker links:
- https://stackoverflow.com/questions/47904342/unexpected-grpc-failed-using-geocoder
- https://stackoverflow.com/questions/47019348/android-grpc-failed-on-nexus-5
- https://issuetracker.google.com/issues/64418751

There is no fix for this error as far as I can see.

[2018-07-06 17:07] rsgilbert commented on #21
Same problem here

[2018-07-10 09:16] sebastianbaar commented on #21
I published a new version 3.1.2.
I now throw an "No Internet Access" error if that's the reason for grpc failing.

If you __still get an "grpc failed" error__ please comment [here](https://issuetracker.google.com/issues/64418751) (https://issuetracker.google.com/issues/64418751) as this is the most recent issue posted on Google's Issue Tracker! I can not fix this error as it is a problem on Google

[2018-07-10 09:16] #21 closed, assigned to nobody

[2018-07-10 09:17] #30 closed, assigned to nobody

[2018-07-11 12:33] MohamedBesher commented on #30
thanks @sebastianbaar

[2018-09-24 02:19] MRL-00 opened #31 "TypeError: Object(...) is not a function"
I'm getting an `TypeError: Object(...) is not a function` error when trying to use Native Geocoder.

Code is below:

`import { NativeGeocoder, NativeGeocoderOptions, NativeGeocoderReverseResult,` `NativeGeocoderForwardResult } from '@ionic-native/native-geocoder';
  constructor(private Platform: Platform, public loadingCtrl: LoadingController, private router: Router, public natGeo: NativeGeocoder)

[2018-09-25 06:24] zhishenh opened #32 "Geocoder does not work"
I tried to add nativegeocoder in my Ionic App and executed the reverseGeocode function. In the browser, it showed that cordova is not available. Then I run my app in android device, it showed that Geocoder is not present on this device/emulator. How can I fix this problem?

[2018-09-30 05:48] sebastianbaar commented on #32
Hey @zhishenh,
**TL;DR**: you can't.

**But Why?**: The Plugin checks for `Geocoder.isPresent()` ([Android Docs](https://developer.android.com/reference/android/location/Geocoder.html#isPresent())). Geocoder simply won't work on this device. One reason for this could be that you are running your app on an emulator or on a device without Google Play Services but Geocoder API "[...] requires a backe

[2018-09-30 05:54] sebastianbaar commented on #31
Hey @MattL-NZ,

please re-post your code as a [code block](https://help.github.com/articles/creating-and-highlighting-code-blocks/). Otherwise it's too hard to read. And please specify the line where the error occurs. Thanks.

Cheers

[2018-10-01 06:01] #32 closed, assigned to nobody

[2018-10-12 11:13] einzweindrey opened #33 "this.nativeGeocoder.reverseGeocode return error -- > "CLGeocoder:reverseGeocodeLocation Error" on ios12 platform"
Hi guys!
I get an error when trying to geocoding the coordinates on iOS1.  Before updating the OS, everything was ok. Android also works without problems. Perhaps you can tell the reason?

`this.nativeGeocoder.reverseGeocode(coordinates.lat, coordinates.long, options)
            .then((result: NativeGeocoderReverseResult[]) => {
                 console.log(result[0]);
            })

[2018-10-14 15:45] sebastianbaar commented on #33
Hey @einzweindrey, could you please post the error.

[2018-10-16 11:18] einzweindrey commented on #33
Hi @sebastianbaar! In some magical way, everything works again. Holy weekend! )) The text of the error was - "CLGeocoder: reverseGeocodeLocation Error". Now everything works as usual. I do not know what happened. Perhaps google services ... I think the issue can be closed. Thanks for being ready to help me solve the problem!

[2018-10-16 11:58] sebastianbaar commented on #33
Hey @einzweindrey, that's great to hear ;-) I'll close the issue for now.
Cheers

[2018-10-16 11:58] #33 closed, assigned to nobody

[2018-11-09 15:28] JuanFLZ opened #34 "reverseGeocode's NativeGeocoderReverseResult is incomplete"
The response to the reverseGeocode function is incomplete and does not return the fields _thoroughfare_ and _subThoroughfare_

This is my code:
`this.nativeGeocoder.reverseGeocode(position.coords.latitude, position.coords.longitude, { useLocale: true, maxResults: 1 })
          .then((result: NativeGeocoderReverseResult[]) => {
            console.log(JSON.stringify(result));
          })

[2018-11-11 07:49] sebastianbaar commented on #34
Hey @GabberMan,
thanks for creating the issue. Yes, it's a bug on Android. If any of the fields (e.g. thoroughfare) is null, it is not added to the return object. I will fix this and return an empty String - like I do on iOS. I will try to fix this as soon as possible.
Cheers

[2018-11-12 10:58] #34 closed, assigned to nobody

[2018-11-12 11:02] sebastianbaar commented on #34
Fixed in [v3.1.3](https://github.com/sebastianbaar/cordova-plugin-nativegeocoder/releases/tag/v3.1.3)

[2018-11-29 10:44] marquish commented on #31
I got the same issue, as i recently updated to ionic 4.4.0
Any suggestions ?
[code]

[2018-12-05 18:36] tijuhasz opened #35 "Forward geocoding to return location name and type"
The forward geocoding function returns an array of latitude, longitude values. This is not enough for my application, because the user reasonably needs the names of the locations returned to choose from. The formatted_address value of the geocoding service is good to have because the user may not type in a full address (ex. 'Philadelph', so the app cannot rely on the user input later on to identif

[2018-12-07 11:05] tijuhasz commented on #35
Forked the project and added:
featureName
location
country
countryCode

to the forward geocoding response. If you think it is useful, please consider merging it to your project.
https://github.com/tijuhasz/cordova-plugin-nativegeocoder/
Thank you for the plugin.

[2018-12-08 15:59] chiranjitkuiry opened #36 "missing command error"
I use this code but it shows above error

this.nativeGeocoder.reverseGeocode(this.letitude, this.longitude, options)
      .then((result: NativeGeocoderReverseResult[]) =>{
        console.log(result);
        console.log(JSON.stringify(result[0]));

[2018-12-09 08:35] sebastianbaar commented on #36
Hey @chiranjitkuiry,
please fill out the bug template and point out where the error shows up in your code:

Thanks!

---------

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior or sample code/repo.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugin Version**
vX.X.X

**Smartphone

[2018-12-09 08:38] sebastianbaar commented on #31
Hey @marquish,
please fill out the bug template and point out where the error shows up in your code:

Thanks!

---------

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior or sample code/repo.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugin Version**
vX.X.X

**Smartphone (pleas

[2018-12-11 11:29] sebastianbaar commented on #35
Hey @tijuhasz,

thanks for your feature request - it definitely makes sense! But if we go this way, forward and reverse geocoding will actually return the same object. [Address](https://developer.android.com/reference/android/location/Address) for Android and [CLPlacemark](https://developer.apple.com/documentation/corelocation/clplacemark) for iOS. Thus, we only need to return the same object for

[2018-12-11 11:38] tijuhasz commented on #35
Hey @sebastianbaar,

I forked your project and implemented this feature for both Android and iOS. Feel free to use it if it helps you in any way. It is available at:
https://github.com/tijuhasz/cordova-plugin-nativegeocoder/
I tested and used it for Android only.

[2018-12-11 13:00] surajsingh23 opened #37 "Native Geocoder . can't able to find “thoroughfare”,“subThoroughfare”"

[2018-12-11 14:03] surajsingh23 commented on #34
The response to the reverseGeocode does not return the fields thoroughfare and subThoroughfare.
this is my code.
[code]

[2018-12-12 07:02] sebastianbaar commented on #37
Hey @surajsingh23 ,
please fill out the bug template:

Thanks!

---------

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior or sample code/repo.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Plugin Version**
vX.X.X

**Smartphone (please complete the following information):**
 - Dev

[2018-12-12 13:56] surajsingh23 commented on #37
hey, @sebastianbaar
my question is why "thoroughfare" and "subThoroughfare" always return a null value?
-------------------------------
**this is my code.**

[code]
--------------
**Plugin Version
v3.1.4**
---------
**expected**
 resp[0].subThoroughfare = some value,   resp[0].thoroughfare  = some value;
-------------------
**actual result**
but thoroughfare and subThoroughfare  always return null

[2018-12-20 15:06] chiranjitkuiry commented on #36
I am trying to get user location, whenever my app launches in a device.
To do I use the code which is given in

https://ionicframework.com/docs/native/native-geocoder/

It gives me the lat and long in my console, but whenever I use the reverseGeocode function it gives the this error

![screenshot 13](https://user-images.githubusercontent.com/22238776/50292288-b59bc180-0496-11e9-98b2-497da679812f.p

[2018-12-31 10:26] surajsingh23 commented on #37
can u please reply

[2019-02-14 02:01] jacobg opened #38 "Include points of interest"
On iOS: https://developer.apple.com/documentation/corelocation/clplacemark/1423673-areasofinterest
On Android: https://developer.android.com/reference/android/location/Address.html#getFeatureName()

[2019-02-18 15:35] CarlosEstevez13 opened #39 "I'm trying to import NativeGeocoder in the app.module of my project. But I get this error"

[2019-02-18 15:35] CarlosEstevez13 opened #40 "I'm trying to import NativeGeocoder in the app.module of my project. But I get this error"

[2019-02-18 15:35] CarlosEstevez13 opened #41 "I'm trying to import NativeGeocoder in the app.module of my project. But I get this error"
Type 'NativeGeocorderOriginal' is not assignable to type 'Provider'
Type 'NativeGeocoderOriginal' is missing the following properties from type ''FactoryProvider: provide, useFactory

This is my code
`import { BrowserModule } from '@angular/platform-browser';
import { ErrorHandler, NgModule } from '@angular/core';
import { IonicApp, IonicErrorHandler, IonicModule } from 'ionic-angular';
import { S

[2019-02-18 15:41] #40 closed, assigned to nobody

[2019-02-18 15:42] #39 closed, assigned to nobody

[2019-02-28 07:52] sebastianbaar commented on #36
Hey @chiranjitkuiry,
do you still have this error showing up or can I close the issue? If you still run into the problem please show me the code (with imports etc.) that is causing the error and the error message that is showing up on the device.

[2019-03-09 16:20] bayanAbuawad opened #42 "IOS runtime error - CLGeocoder:geocodeAddressString Error"
The plugin is working very well on Android, but I am having a weird problem on IOS and it is a runtime problem and not a build problem, I am getting an error on Xcode console saying:

CLGeocoder:geocodeAddressString Error

And it is not working

**Plugin Version**
v3.1.0

**Smartphone:**
Tested on iPhone 6

[2019-03-10 10:21] sebastianbaar commented on #41
Hey @CarlosEstevez13 ,

in Ionic 4 you have to change your import from:
`import { NativeGeocoder } from '@ionic-native/native-geocoder';`
to:
`import { NativeGeocoder } from '@ionic-native/native-geocoder/ngx';
`

Cheers

[2019-03-10 10:21] #41 closed, assigned to nobody

[2019-03-10 10:34] sebastianbaar commented on #42
Hey @bayanAbuawad,

please update the plugin to v3.1.3 and try again.

Cheers

[2019-03-10 10:38] sebastianbaar commented on #37
Hey @surajsingh23,

please try again with these location points:
[code]

This should return a valid thoroughfare (subThoroughfare is empty though - couldn't find a good example for subThoroughfare in the moment but it should be sufficient to fix your problem).

Cheers

[2019-03-10 10:39] sebastianbaar commented on #31
Closed due to inactivity

[2019-03-10 10:39] #31 closed, assigned to nobody

[2019-03-10 12:31] #35 closed, assigned to nobody

[2019-03-10 12:31] #38 closed, assigned to nobody

[2019-03-12 22:11] Billmike opened #43 "Failed to fetch plugin cordova-plugin-nativegeocoder via registry"
When I run the command `ionic cordova plugin add cordova-plugin-nativegeocoder`, I get the following error:
[code]

ionic-angular: v3.6.1

[2019-03-13 07:37] sebastianbaar commented on #43
Hey @Billmike,

try to run the command with a specified version number
`ionic cordova plugin add [PLUGIN_ID]@[VERSION]`

For example:
`ionic cordova plugin add cordova-plugin-nativegeocoder@3.1.3`

Cheers

[2019-03-13 07:45] Billmike commented on #43
Hey @sebastianbaar I ran that command, but I'm still getting the same error

[code]

[2019-03-13 08:25] sebastianbaar commented on #43
Are you able to download any other plugin? I tried in different networks and got no error. It's neither a problem with npm nor with the plugin.

[2019-03-13 08:30] Billmike commented on #43
Yeah, I'm able to download other plugins. I downloaded the `cordova-plugin-geolocation` just before. I can also install the `@ionic-native/native-geocoder` library from npm as well.

[2019-03-13 08:45] Billmike commented on #43
So it works when I delete my `package-lock.json` file. Closing this now. Thanks for your time @sebastianbaar

[2019-03-13 08:45] #43 closed, assigned to nobody

[2019-03-25 09:45] ashishtyd commented on #42
I also have the same issue. For some addresses it shows error CLGeocoder:geocodeAddressString Error
Please help me to resolve this issue.
Ionic Info -
Ionic:

   ionic (Ionic CLI)  : 4.12.0 (/usr/local/lib/node_modules/ionic)
   Ionic Framework    : ionic-angular 3.9.2
   @ionic/app-scripts : 3.2.1

Cordova:

   cordova (Cordova CLI) : 8.0.0
   Cordova Platforms     : android 7.0.0, browser 5.0.4,

[2019-03-25 10:00] GroupeBEL commented on #42
Hello @sebastianbaar ,
We still having this problem on iOS (Android works fine).
Some addresses are working fine and some other are showing this problem.

Maybe this problem is due to the name of address which contains special characters ..

[2019-03-25 10:41] ashishtyd commented on #42
How can I resolve this problem. As you said address string contains special characters(in my case their is only ',' in address) then by removing this it will solve my problem or any thing else need to do.
My app is already in production so please help me to deal with this issue.
Thanks in advance.

[2019-03-26 14:15] GroupeBEL commented on #42
@ashishtyd we were having a problem with the database ,  we added the support of utf8 and now when I get the address , I passed within my code and everything is working fine.

[code]

[2019-04-03 19:22] jacobg opened #44 "Android logs error when it shouldn't"
**Describe the bug**
When calling reverseGeocode with null options, it prints this error stacktrace:
[code]

But it otherwise works fine. It doesn't seem like that should be printed. It's ok to pass null options.

**To Reproduce**
Call reverseGeocode with null options

**Expected behavior**
No error logging

**Plugin Version**
latest

**Smartphone (please complete the following information):**
Any

[2019-04-09 04:27] sebastianbaar commented on #36
Closed due to inactivity

[2019-04-09 04:27] #36 closed, assigned to nobody

[2019-04-09 04:28] sebastianbaar commented on #37
Closed due to inactivity

[2019-04-09 04:28] #37 closed, assigned to nobody

[2019-04-11 07:24] DavidWiesner opened #45 "Cordova 9 support: Update cordova-plugin-add-swift-support to 2.0.2"
**Describe the bug**
The `cordova-plugin-add-swift-support` 1.7.2 does not support cordova 9. Instaling your plugin in a cordova 9 project theirfore result in this error:
`Using "requireCordovaModule" to load non-cordova module "glob" is not supported. Instead, add this module to your dependencies and use regular "require" to load it.`

**To Reproduce**
Steps to reproduce the behavior:
1. create a

[2019-04-14 07:20] #45 closed, assigned to nobody

[2019-04-14 07:24] #44 closed, assigned to nobody

[2019-04-22 11:02] barbarj commented on #42
I'm also having this issue. Oddly enough, it's only happening on iPhones 6, 6S, and 6S+. iOS version doesn't seem to matter. I've tested both 11 and 12. iPhone 7 and up do not experience this issue.

[2019-05-22 16:31] DavidWiesner opened #47 "bug(android): Geocoding is blocking the main thread"
**Describe the bug**
While running an reverse/forward geocoding the main thread is blocked by up to **4 seconds**

**To Reproduce**
Steps to reproduce the behavior:
1. Open LogCat from AndroidStudio
2. Run  e.g.: `reverseGeocode` on a low internet connection.
3. App hangs on transitions or user interaction while `reverseGeocode` is running
4. See Log message like this:
[code]

**Expected behavior*

[2019-07-02 06:42] StoRmtec500 opened #48 "IOS13 -> Don´t show Streetname"
Hello
i have download the new iOS 13 to build the a new Version from the App. And i see that the thoroughfare not shown anymore.

Can you check this?

Thx

[2019-07-03 08:14] QuentinIcky commented on #42
With ios simulator, I have the same error with Iphone XR, X...

[2019-08-23 10:15] Gajendrasinh opened #49 "native-geocoder not found"
![image](https://user-images.githubusercontent.com/10431380/63583021-bf993580-c5cc-11e9-906b-689e021ceca1.png)

I am getting above error, how can i fixed this

    "@ionic-native/native-geocoder": "^5.12.0",

[2019-10-01 04:11] williamhilldevs commented on #49
simulator or real device?

[2019-10-01 04:12] gabriele-sacchi commented on #49
Simulator or real device?

[2019-10-16 03:09] chen-nee opened #50 "reverseGeocode Error: grpc failed"
I am getting "Geocoder:getFromLocationName Error: grpc failed" while using reverseGeocode.

It works after i switch on flight mode and wait for 10 seconds before switching it off again.

Any idea? Is there any fix or workaround for this?

[2019-10-17 08:18] techelogydev opened #51 "Return Address Line or formatted address"
**Is your feature request related to a problem? Please describe.**
A simple but kind of required feature is to return, along with current Address class values, the value of addressLine which in web API is similar to formatted_address, as creating the address string is sometimes both overhead and improper.

**Describe the solution you'd like**
Just start returning the addressLine in the current res

[2019-12-16 19:06] jdpsah opened #52 "hit limit"
I just wanted to know, is there any hits limit? Like if we use google api to get location details, we used to have some hits limit if the account is not paid. After exceeding the hits quota we cant call the goole api to get address.

[2020-01-22 19:48] ronnygtas opened #53 "reverseGeocode JSON error"
Hi, i have this problem when i execute reverseGeocode method, it response JSON error.

This is my code:
import { Injectable } from '@angular/core';
import { NativeGeocoder, NativeGeocoderResult, NativeGeocoderOptions } from '@ionic-native/native-geocoder/ngx';

@Injectable({
  providedIn: 'root'
})
export class UtilsService {

  //Geocoder configuration
  geoencoderOptions: NativeGeocoderOptions =

[2020-03-25 08:17] #47 closed, assigned to nobody

[2020-03-26 16:15] fzamperin opened #55 "Java error when trying to forwardGeocode"
**Describe the bug**
After updating to 3.3.0 using the forwardGeocode function, it gives me the error: ```Attempt to invoke virtual method 'java.lang.String org.json.JSONObject.toString()' object reference ```, this is happening on Android, iOS works fine. I downgraded to 3.2.2 and is working flawless again for Android.

**To Reproduce**
Steps to reproduce the behavior:
I just updated to the new v

[2020-03-26 23:45] sebastianbaar commented on #55
Hi @fzamperin,
I do not own a Xiaomi Pocophone F1 but I tested on Android 10 and cannot reproduce your error. Could you please give me some more infos?! Do you have a call stack for this error? Which method are you calling to reproduce your error (e.g.: both for forward and reverse geocoding)?
I would really like to help you, but I need more infos!

Cheers

[2020-03-26 23:47] sebastianbaar commented on #53
I do not see any error...?! Please update to the latest version 3.3.0 and try again. If the error remains, please file a new issue or reopen.
Cheers

[2020-03-26 23:47] #53 closed, assigned to nobody

[2020-03-26 23:53] sebastianbaar commented on #52
Nope, there isn't any limit stated in the official docs, I'm sorry

Cheers

[2020-03-26 23:53] #52 closed, assigned to nobody

[2020-03-26 23:55] sebastianbaar commented on #50
Please look at the "Known Issues". It's a problem with Google Play Services.

Cheers

[2020-03-26 23:55] #50 closed, assigned to nobody

[2020-03-26 23:55] sebastianbaar commented on #49
Please update to the latest version 3.3.0 and try again. If the error remains, please file a new issue or reopen.

Cheers

[2020-03-26 23:55] #49 closed, assigned to nobody

[2020-03-26 23:55] sebastianbaar commented on #48
Please update to the latest version 3.3.0 and try again. If the error remains, please file a new issue or reopen.

Cheers

[2020-03-26 23:55] #48 closed, assigned to nobody

[2020-03-26 23:56] sebastianbaar commented on #42
Please update to the latest version 3.3.0 and try again. If the error remains, please file a new issue or reopen.

Cheers

[2020-03-26 23:56] #42 closed, assigned to nobody

[2020-03-27 12:30] fzamperin commented on #55
I`ve installed the plugin again with the new version in order to test it, this bug happens with the forwardGeocode function, this is the stack trace from Logcat:

[code]

I'm using ionic-native in order to call the plugin: v4.15.0, the string I'm passing to the plugin is: ```991 Rua Maestro Elias Lobo Jardim Paulista São Paulo São Paulo 01433-000 ```, even though any string does not work for me, i

[2020-03-27 13:45] sebastianbaar commented on #55
Hey @fzamperin,
yes it's a bug. Thank you for the stack trace. I will fix this. Meanwhile you can fix the error on your side by adding `options` to the forwardGeocode function:

[code]

`options` cannot be null. That's a bug I am going to fix.

[2020-03-27 13:53] #55 closed, assigned to nobody

[2020-03-29 07:17] kodeine opened #56 "Not allowed to start service Intent"
if the app is in background it will give that error.

cordova.plugin.nativegeocoder.GeocodingIntentService (has extras) }: app is in background uid UidRecord{9ccb666 u0a555 TPSL idle change:cached procs:1 proclist:1823, seq(0,0,0)}

[2020-03-30 08:07] sebastianbaar commented on #56
Please update to latest version 3.4.0

[2020-03-30 08:07] #56 closed, assigned to nobody

[2020-04-20 08:21] AmineMansouriLondon opened #57 "Needs support for Swift 4"
Plugin does not work on iOS with Xcode 11 as it's Swift 3.x, needs to be migrated to 4.

[2020-04-25 15:42] Bphreaker commented on #57
I have the same problem, Can anyone update the version of the Swift Language please?

[2020-04-29 09:00] #57 closed, assigned to nobody

[2020-06-24 22:11] chaoticvibe commented on #51
It was solved?

[2020-07-17 09:55] surendra-17 opened #58 "Ionic 3 Native Geocoder return undefined"
TypeError: Cannot read property 'reverseGeocode' of undefined

import { NativeGeocoder, NativeGeocoderReverseResult, NativeGeocoderForwardResult, NativeGeocoderOptions } from '@ionic-native/native-geocoder';

constructor(private _nativeGeocoder: NativeGeocoder)

main code
this._nativeGeocoder.reverseGeocode(location.lat,location.long, options).then((result: NativeGeocoderReverseResult[]) => {

[2020-08-18 16:15] moezzineb commented on #23
Hello @sebastianbaar, we are in 2020 now and same issue i'm using "@ionic-native/native-geocoder": "^5.26.0" and i have same error as @axesve had but i'm using 👍
- Xcode 11.6
- Apple Swift version 5.2.4 (swiftlang-1103.0.32.9 clang-1103.0.32.53)

@objc(NativeGeocoder) class NativeGeocoder : CDVPlugin {
                                             ^~~~~~~~~
/Users/marwan/Desktop/BeautyBelle/platfor

[2020-12-02 10:46] monurakkaya opened #59 "huge ios app size increase after install this plugin"
**Describe the bug**
Hi,
IOS build and ipa size increses 24.4M to 83.3M with this plugin
Is this normal?

Apk build size like 10.1M  seems normal.

**To Reproduce**
Steps to reproduce the behavior:
- cordova plugin add cordova-plugin-nativegeocoder
- ionic cordova build ios --prod --release

**Plugin Version**
v3.4.1

**Smartphone (please complete the following information):**
 - Device: [Iphone6s

[2021-03-26 02:32] janakiram-code opened #60 "reverseGeocode not working in real device"
Hi,
i'm new to ionic5, I'm working on NativeGeocoder to get address using lat and lag when am using reverseGeocode its not giving the address executing catch block with {} error giving, please find my code

 getCurrentCoordinates() {
    this.geolocation.getCurrentPosition(this.options).then((resp) => {
      this.latitude = resp.coords.latitude;
      this.longitude = resp.coords.longitude;

[2021-06-02 07:15] pinkiwagh commented on #60
any one has resolved this issue ??? please informed?? This issue on live project.

[2021-07-09 02:55] gazzaf commented on #59
Did you try cordova platform rm ios
Then cordova platform add ios
Sometimes doing that helps when things go wrong, especially if plugins misbehave. When you remove and add back a platform it also removes and adds back the plugins.

[2021-07-09 09:04] gazzaf opened #61 "Sometimes only a partial postcode is returned (iOS)"
Hi. I don't know if this is an issue with Apple's geocoder or the plugin? Some users are reporting that only the outcode part of the postcode is showing - the first part before the space, either 3 or 4 chars. I've tested this out using location changing in Xcode and I can repeat the issue.
Is there a reason for that and is there a way around it to get a full postcode every time? Thanks.

Gary.

[2021-08-17 15:55] dahlseng opened #62 "example js"
You have an example js on how to get the address, dont ounderstand consol log, whant the adress into an <input ID=""/>

[2022-01-10 11:10] LuckyMasango opened #63 "Geocoding Pligin Not Fully Functional"
The Geocoding Plugin all of a sudden stopped working, when it does by any chance it only gives three results countryName, administrativeArea and subAdministrativeArea only.

[2022-04-05 08:29] gklasen commented on #23
Are there any news?

[2022-04-16 04:50] spotvin42 opened #64 "Type 'NativeGeocoderOriginal' is not assignable to type 'Provider'.ts"
**Describe the bug**
In an Ionic/Capacitor project: in the @awesome-cordova-plugins, NativeGeocoder is imported as type NativeGeocoderOriginal instead of NativeGeocoder, hence not assignable as a Provider in app.module.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install with the following commands
[code]
2. Import as provider in app.module

**Expected behavior**
A clear and conc

[2022-06-06 10:42] Oraicon commented on #58
any update ?

[2022-10-31 13:02] siranjeevimurugesan opened #65 "Native geocoder result looks different for andriod and ios when do reverse geocode"
When do reverse geocode getting different response from native geocoder result between android and ios.

For android able to get thoroughfare and subthoroughfare response. But for ios not able to get the response for the same location coordinates.

**Example:**
**latitude: 26.640628
locality: "Fort Myers"
longitude: -81.8723084**

[2022-11-01 06:07] tamilselvanmariappan commented on #65
**Any solution for this issue?**

When search for a location details with reverse geocode the return value is different for IOS and Android. Noted on the response the lat, lon is changed than what we passed for android but ios it's not changed in response.

We get the postal code, thoroughfare and subthoroughfare as empty

Example input:
Location Name: Grand Canyon
Latitude: 36.09976309999999
Long